body{
    margin: 0;
    font-family: Futura, "Trebuchet MS";
    background-color: #0c0c16;
}
.hero{
    /* height: 260px; */
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcHp4ZWs1YzgzZWQzODIyczcxa3dvbmpmNW5jdnIwYWN4YWptbjg5YyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8w61HSu6xQjoa2NzKN/giphy.gif");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero button{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 18px; 
    border-radius: 20px; 
    border: none;
    cursor: pointer;
    color: white;
    background-color: black;
}


h3{
    text-align: center;
    color: white;
}

header{
    background: #6666ff;
    color: white;
    padding: 20px;
    font-size: 22px;
}

span{
    color: white;
}


a {
    text-decoration: none;
}

span:hover{
    text-decoration: underline;
}

select{
    border-radius: 20px;
    width: 185px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    background-color: #c9e8ff;
    position: relative;
    display: inline-block;
}

.content{
    position: absolute;
    background-color: #c9e8ff;
    min-width: 160px;
    overflow: auto;
    
}


select:hover{
    background-color: #b8baff;
}

.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

.outfit-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

.filters span{
    cursor: pointer;
    
}

.outfit-selector{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    margin: 30px 0;
}

.faves{
    
    bottom: 20px;
    right: 20px;
    font-size: 50px;
    color: #6a6cff;
    cursor: pointer;
}

#random{
    border-radius: 20px;
    width: 185px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    background-color: #c9e8ff;
}

#random:hover{
    background-color: #b8baff;
}

.navrow span{
    font-size: 80px;
    cursor: pointer;
    user-select: none;
    color: #6666ff;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
    display: inline-block;
}

